@model Product

<div id="editProductModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Product</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editProductForm">
                    @Html.AntiForgeryToken()
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input asp-for="Name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Description">Description</label>
                        <input asp-for="Description" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Price">Price</label>
                        <input asp-for="Price" type="number" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-success mt-2">Save</button>
                </form>

            </div>
        </div>
    </div>
</div>
